<div class="each-lineup">
  {{#each entries as |entry|}}
  <div class="lineup-table has-table">
    <h5>Lineup: {{this.id}}</h5> 
    <a class="changeLineupLink" id={{this.lineup.id}} data-entry-id={{this.id}} data-contest-id={{this.contest.id}}>Change Lineup</a> | 
    <a class="delete-lineup" id="{{this.id}}" data-contest="{{this.contest.id}}" data-toggle="modal" data-target="#modalDeleteLineup">Delete</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Pos.</th>
          <th>Players</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>QB</td>
          <td>{{this.lineup.qb}}</td>
        </tr>
        <tr>
          <td>RB</td>
          <td>{{this.lineup.rb1}}</td>
        </tr>
        <tr>
          <td>RB</td>
          <td>{{this.lineup.rb2}}</td>
        </tr>
        <tr>
          <td>WR</td>
          <td>{{this.lineup.wr1}}</td>
        </tr>
        <tr>
          <td>WR</td>
          <td>{{this.lineup.wr2}}</td>
        </tr>
        <tr>
          <td>WR</td>
          <td>{{this.lineup.wr3}}</td>
        </tr>
        <tr>
          <td>TE</td>
          <td>{{this.lineup.te}}</td>
        </tr>
        <tr>
          <td>Flex</td>
          <td>{{this.lineup.flex}}</td>
        </tr>
        <tr>
          <td>DST</td>
          <td>{{this.lineup.dst}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{/each}}
</div>