<!--Table-->
<div class="container" "table-responsive" style="margin-top: 50px;">
  <table id="dest" class="table table-hover table-striped table-bordered">
  <!--Table head-->
    <thead>
      <tr id="header-row">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Max Number of Entrants</th>
        <th scope="col">Current Number of Entrants</th>
        <th scope="col">Leader</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each constests as |contest|}}
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>${{this.entrants_total}}</td>
          <td>{{this.entrants_current}}</td>
          <td>{{this.winner}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>